<!-- recipe image -->
<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive">
  </div>
</div>

<br>

<div class="row">
  <!-- recipe name -->
  <div class="col-xs-8">
    <h1>{{ recipe.name }}</h1>
  </div>

  <!-- manage recipe dropdown -->
  <div class="col-xs-4">
    <div class="btn-group pull-right" style="margin-top: 20px" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<hr>

<!-- recipe description -->
<div class="row">
  <div class="col-xs-12">
    <h4>Description</h4>
    <p>{{ recipe.description }}</p>
  </div>
</div>

<br>

<!-- recipe ingredients -->
<div class="row">
  <div class="col-xs-12">
    <h4>Ingredients</h4>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Ingredient</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr
        href='#'
        *ngFor="let ingredient of recipe.ingredients"
      >
        <td>
          {{ ingredient.name }}
        </td>
        <td>
          {{ ingredient.amount }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
